html {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

.resizable {
    background-image: url(../images/handle.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}

#app {
    font-family: "Meiryo", Tahoma;
    font-size: 12px;
    color: rgb(232, 255, 254);
    background-color: rgba(0,0,0,0.3);
}

#source {
    display: none;
}

h3 {
    font-weight: normal;
    padding: 12px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ff-header {
    color: #DED7BE;
    text-shadow: -1px 0 2px #795516, 0 1px 2px #795516, 1px 0 2px #795516, 0 -1px 2px #795516;
}
.ff-text {
    color: #E2EBF5;
    text-shadow: -1px 0 3px #217AA2, 0 1px 3px #217AA2, 1px 0 3px #217AA2, 0 -1px 3px #217AA2;
}

.combatants {
    padding: 0 6px 6px;
}

.header {
}

.view-color.damage  { --view-color: #2a81d7; }
.view-color.healing { --view-color: #039158; }
.view-color.tanking { --view-color: #ca5e4e; }

.encounter-header {
    display:block;

    border-top: 3px solid var(--view-color);
    padding: 4px 6px 6px 6px;
    font-size: 12px;
    -webkit-user-select: none;
}
.encounter-data {
    -webkit-user-select: initial;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.extra-details {
    padding: 2px 6px 6px 10px;
}
.collapsed .extra-details {
    display: none;
}
.extra-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.extra-details .cell {
    margin-right: 4px;
}
.extra-details .label {
    font-weight: 400;
    margin-right: 4px;
}
.extra-details .value {
    font-weight: 200;
    margin-right: 4px;
}

.data-set-view-switcher{
  float:right;
  background:rgba(0,0,0,.35);
}
.data-set-option{
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
  padding: 2px 8px;
  text-align: center;
  color: #eee;
  font-size: 10px;
  font-weight: normal;
}
.data-set-option.active{
  background-color: #2a81d7;
  box-shadow: inset 0 1px 0 0 #62b1e9;
  border-top: 1px solid #2a73a6;
  border-right: 1px solid #165899;
  border-bottom: 1px solid #07428f;
  border-left: 1px solid #165899;
  text-shadow: 0 -1px 1px #1d62ab;
}

.target-name {
    cursor: pointer;
    font-weight: 400;
    margin-right: 4px;
    position: relative;
}
.target-name:hover {
    box-shadow: inset 0 0 6px 3px #333, 0 1px 0 0 #000;
    border-radius: 6px;
}

li {
    position: relative;
    margin: 0;
    margin-bottom: 2px;
    padding: 0;
    height: 20px;
}
li:last-child {
    margin-bottom: 0;
}

.self {
    background-color: rgba(0, 0, 0, .5);
    font-weight: bold;
}

.text-overlay {
    font-size: 11px;
    position: absolute;
    top: 0;
    color: rgba(255, 255, 255, 1);
    text-shadow: -1px 0 2px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.6), 1px 0 2px rgba(0, 0, 0, 0.6), 0 -1px 2px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0);
    left: 0;
    right: 4px;
    bottom: 0;
    z-index: 10;
    line-height: 20px;
    overflow: hidden;
}
.info {
    overflow: hidden;
    white-space: nowrap;
}
.row .stats {
    float: right;
    margin-left: 4px;
    white-space: nowrap;
}
.row .additional {
    margin-right: 4px;
}
.row .total {
    margin-right: 4px;
}
.row .ps {
    margin-right: 4px;
}

.pgl, .mnk { --job-color: #d69c00; }
.acn, .smn { --job-color: #2d9b78; }
.lnc, .drg { --job-color: #4164cd; }
.cnj, .whm { --job-color: #fff0dc; }
.thm, .blm { --job-color: #a579d6; }
.nin, .rog { --job-color: #af1964; }
.arc, .brd { --job-color: #91ba5e; }
.gld, .pld { --job-color: #a8d2e6; }
.mrd, .war { --job-color: #cf2621; }
.sch { --job-color: #8657ff; }
.drk { --job-color: #d126cc; }
.ast { --job-color: #ffe74a; }
.mch { --job-color: #6ee1d6; }
.sam { --job-color: #e46d04; }
.rdm { --job-color: #e87b7b; }
.gnb { --job-color: #796d30; }
.dnc { --job-color: #e2b0af; }
.blu { --job-color: #2459ff; }
.lb  { --job-color: #2599be; }

.mch { --actor-index:  0; }
.acn { --actor-index:  1; }
.ast { --actor-index:  2; }
.brd { --actor-index:  3; }
.blm { --actor-index:  4; }
.blu { --actor-index:  5; }
.cnj { --actor-index:  7; }
.dnc { --actor-index:  8; }
.drk { --actor-index:  9; }
.drg { --actor-index: 10; }
.gla { --actor-index: 11; }
.gnb { --actor-index: 12; }
.lnc { --actor-index: 13; }
/* .lb  { --actor-index: 14; } */
.arc { --actor-index: 15; }
.mar { --actor-index: 16; }
.mnk { --actor-index: 17; }
.nin { --actor-index: 18; }
.pld { --actor-index: 20; }
.pet { --actor-index: 21; }
.pgl { --actor-index: 22; }
.rdm { --actor-index: 23; }
.rog { --actor-index: 24; }
.sam { --actor-index: 25; }
.sch { --actor-index: 26; }
.smn { --actor-index: 27; }
.thm { --actor-index: 28; }
.war { --actor-index: 29; }
.whm { --actor-index: 30; }

.bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--job-color, #2a7084);
    transition: width .4s ease-in-out;
}

.job-icon {
    float: left;
    --box-size: 20px;
    --icon-size: 18px;

    height: var(--icon-size);
    width: var(--icon-size);
    border: calc((var(--box-size) - var(--icon-size)) / 2) solid rgba(0, 0, 0, 0);
    background-image: url(../images/default/actors.png);
    background-repeat: no-repeat;
    background-size: auto var(--icon-size);
    background-position: calc(-1 * var(--icon-size) * var(--actor-index, -1));
    background-clip: padding-box;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 1.0));
    margin-right: 4px;
}

.character-job {
    margin-left: 4px;
    text-transform: uppercase;
    opacity: 0.6;
}
.character-name {
    padding-left: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.arrow {
    cursor: pointer;
    display: inline-block;
    height: 1em;
    width: 1em;
}

.arrow:after {
    clear: both;
    display: block;
    position: relative;
    top: 12px;
    left: 7px;
    content: "";
    height: 0;
    width: 0;
    padding: 0;
    margin: -4px;
    border:4px solid transparent;
}
.arrow.down:after {
    border-top-color: #fff;
}
.arrow.up:after {
    top: 8px;
    border-bottom-color: #fff;
}

.hidden {
    display: none;
}

.dropdown-parent {
    position: relative;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 20px;
    left: 0px;
    padding: 2px 4px;
    z-index: 100;
}

.dropdown-menu-item {
  padding: 4px 0;
}

.clearfix:before,
.clearfix:after{
  display:table;
  content:'';
}
.clearfix:after{
  clear:both;
}
